body {
    background-color: #202125;
    display: flex;
    justify-content: center;
}

.card {
    max-width: 180px;
    width: 100%;
    background: #2a2c31;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}

.card:hover {
    transform: translateY(-2px) scale(1.01);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.781);

}

.image {
    width: 100%;
}

.image img{
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.des {
    position: relative;
    height: 50px;
    top: -5px;
    padding: 5px;
}

.des a {
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    text-align: right;
    color: white;
}